/*fontawesome*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*font import*/
@import url("https://fonts.googleapis.com/css?family=Courgette|Open+Sans");

/*Global styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-image: url("../img/fond.jpg");
  background-repeat: no-repeat;
  font-size: 14px;
  max-width: 1500px;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}
